<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewCateServlet</servlet-name>
        <servlet-class>controller.addNewCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewDoraemonServlet</servlet-name>
        <servlet-class>controller.addNewDoraemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToShoppingCartServlet</servlet-name>
        <servlet-class>controller.addToShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>controller.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllOrderServlet</servlet-name>
        <servlet-class>controller.getAllOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProcessingOrderServlet</servlet-name>
        <servlet-class>controller.getProcessingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategoryServlet</servlet-name>
        <servlet-class>controller.manageCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfileServlet</servlet-name>
        <servlet-class>controller.changeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearCookieServlet</servlet-name>
        <servlet-class>controller.clearCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeOrderServlet</servlet-name>
        <servlet-class>controller.completeOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrderServlet</servlet-name>
        <servlet-class>controller.manageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAllCartServlet</servlet-name>
        <servlet-class>controller.deleteAllCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItemCartServlet</servlet-name>
        <servlet-class>controller.deleteItemCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCartServlet</servlet-name>
        <servlet-class>controller.viewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategoryServlet</servlet-name>
        <servlet-class>controller.editCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCanceledOrderServlet</servlet-name>
        <servlet-class>controller.getCanceledOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCompletedOrderServlet</servlet-name>
        <servlet-class>controller.getCompletedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDoraemonServlet</servlet-name>
        <servlet-class>controller.getDoraemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountServlet</servlet-name>
        <servlet-class>controller.manageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageDoraemonServlet</servlet-name>
        <servlet-class>controller.manageDoraemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailServlet</servlet-name>
        <servlet-class>controller.orderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quickLoginServlet</servlet-name>
        <servlet-class>controller.quickLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reOrderServlet</servlet-name>
        <servlet-class>controller.reOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>controller.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>controller.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByCustomerIDServlet</servlet-name>
        <servlet-class>controller.searchByCustomerIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByStatusServlet</servlet-name>
        <servlet-class>controller.searchByStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCategoryServlet</servlet-name>
        <servlet-class>controller.searchCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderServlet</servlet-name>
        <servlet-class>controller.searchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchDoraemonServlet</servlet-name>
        <servlet-class>controller.searchDoraemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateItemCartServlet</servlet-name>
        <servlet-class>controller.updateItemCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDoraemonServlet</servlet-name>
        <servlet-class>controller.updateDoraemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDoraemonStatusServlet</servlet-name>
        <servlet-class>controller.updateDoraemonStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>controller.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>controller.mainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewCateServlet</servlet-name>
        <url-pattern>/addNewCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewDoraemonServlet</servlet-name>
        <url-pattern>/addNewDoraemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToShoppingCartServlet</servlet-name>
        <url-pattern>/addToShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllOrderServlet</servlet-name>
        <url-pattern>/getAllOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProcessingOrderServlet</servlet-name>
        <url-pattern>/getProcessingOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategoryServlet</servlet-name>
        <url-pattern>/manageCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfileServlet</servlet-name>
        <url-pattern>/changeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearCookieServlet</servlet-name>
        <url-pattern>/clearCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeOrderServlet</servlet-name>
        <url-pattern>/completeOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrderServlet</servlet-name>
        <url-pattern>/manageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAllCartServlet</servlet-name>
        <url-pattern>/deleteAllCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItemCartServlet</servlet-name>
        <url-pattern>/deleteItemCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCartServlet</servlet-name>
        <url-pattern>/viewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategoryServlet</servlet-name>
        <url-pattern>/editCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCanceledOrderServlet</servlet-name>
        <url-pattern>/getCanceledOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCompletedOrderServlet</servlet-name>
        <url-pattern>/getCompletedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDoraemonServlet</servlet-name>
        <url-pattern>/getDoraemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountServlet</servlet-name>
        <url-pattern>/manageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageDoraemonServlet</servlet-name>
        <url-pattern>/manageDoraemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailServlet</servlet-name>
        <url-pattern>/orderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quickLoginServlet</servlet-name>
        <url-pattern>/quickLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reOrderServlet</servlet-name>
        <url-pattern>/reOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByCustomerIDServlet</servlet-name>
        <url-pattern>/searchByCustomerIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByStatusServlet</servlet-name>
        <url-pattern>/searchByStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCategoryServlet</servlet-name>
        <url-pattern>/searchCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderServlet</servlet-name>
        <url-pattern>/searchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchDoraemonServlet</servlet-name>
        <url-pattern>/searchDoraemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateItemCartServlet</servlet-name>
        <url-pattern>/updateItemCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDoraemonServlet</servlet-name>
        <url-pattern>/updateDoraemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDoraemonStatusServlet</servlet-name>
        <url-pattern>/updateDoraemonStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
